body {
    font-family: Garamond !important;
}

body > .container > .row {
    border-bottom: 3px dotted black;
}

table#mainTable {
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

td {
    font-size:large;
}

.hidden {
    display: none;
}

#titleDiv {
    font-family: "Garamond";
    text-align: center;
}

form div{
    display:block;
}
