body {
    font-family: Garamond !important;
}

body > .container > .row {
    border-bottom: 3px dotted black;
}

table#mainTable {
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

td {
    font-size:large;
}

.hidden {
    display: none;
}

#titleDiv {
    font-family: "Garamond";
    text-align: center;
}

#titleDiv > h1 {
    margin-bottom: 0px;
}

img {
    margin-bottom:10px;
}

form div{
    display:block;
}

.specialInput {
    width:20px !important;
}

input {
    width:100%;
}